.duck-editor {
	background:white;
	min-height: 200px;
	width: 400px;
	color: #333;
}

.duck-editor .DraftEditor-root {
	height: 100%;
	width: 100%;
	padding: 10px;
}
.duck-toolbar {
	display:flex;
	direction: row;
	background: #e2e7e9;
	border: 1px solid #ddd;
}
.duck-toolbar-button {
	padding: 5px;
	border: 1px solid #ddd;
	margin: -1px 0 -1px -1px;
	display: flex;
	min-width: 20px;
	height: 20px;
	justify-content: center;
	align-items: center;
}

.duck-toolbar-divider {

	padding: 0 10px;
	color: #ddd;
	display: flex;
	height: 20px;
	justify-content: center;
	align-items: center;
}

.duck-toolbar-button-active {
	background: #dbe1e4;
	box-shadow: inset 0px 0px 2px #999;
}